<h1>Bienvido al Chat <b id="username"></b>!</h1>

<div>
  <div>
    <b>Escribe algo:</b>
    <input id="chatbox" />
  </div>
  <div class="card">
    <div><p><b>Historial</b></p></div>
    <hr style="margin: 2px 0 2px 0;" />
    <div id="logs">
      {{#each messages}}
        <p><b>{{user}}:</b>
          {{message}}</p>
      {{/each}}
    </div>
  </div>
</div>

{{! SweetAlert }}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{{! Socket.io }}
<script src="/socket.io/socket.io.js"></script>
{{! Logica de Socket.io }}
<script src="/js/chat.js"></script>