<section>
  <div class="titulo">
    <h1>Bienvenidos a la Eccomerce de Dario</h1>
  </div>
</section>

<section>
  <div class="acceso-index contenedor">
    <h3>Acceso a las funcionalidades actuales</h3>
    <nav class="nav">
      <a href="/home">Lista de productos<span>(sin websockets)</span></a>
      <a href="/realTimeProducts">Trabajar con los productos<span>(con
          websockets)</span></a>
    </nav>
  </div>
</section>