<section>
  <div class="titulo">
    <h1>Bienvenidos a la Eccomerce de Dario</h1>
  </div>
</section>

<div class="nav-bg">
  <nav class="nav-principal">
    <a href="./home">Visualizar productos</a>
    <a href="./products">Comprar productos</a>
    <a href="./realTimeProducts">Administrar productos</a>
    <a href="./chat">Soporte</a>
  </nav>
</div>
<div>
  <div class="img-bg"></div>
</div>

<section class="contenedor">

  <div class="about-blog">
    <div class="texto">
      <p>
        Hola!Bienvenido a nuestra ecommerce.Somos una empresa local con una
        profunda pasion por los videojuegos, el rgb y el hardware de máxima
        potencia y calidad. Nos especializamos en el armado de PC's custom,
        buscando siempre la mejor alternativa posible para tu presupuesto.Además
        de que tenemos el hardware al menor precio! con calidad garantizada!
      </p>
      <p>
        Contamos con un grupo de ingenieros, especializados en el desarrolo de
        software de mas alto nivel.Los mismos poseen conocimientos avanzados
        sobre programación, hardware, sistemas operativos, arquitectura de
        computadoras. Y tienen la capacitación suficiente como para garantizarte
        que no tendrás cuellos de botella, problemas de rendimiento.
      </p>
      <p>
        Con nuestro servicio de asesoramiento podrás jugar a tus juegos
        favoritos con el mayor rendimiento, sacando la mayor cantidad de FPS y
        al menor precio posible. También contamos con nuestra area de soporte
        técnico. Quienes podrán reparar tus equipos en caso de que tengas algún
        inconveniente.
      </p>
    </div>
    <div class="imagen">
      <div class="img-blog"></div>
    </div>
  </div>

  <div class="contacto">
    <div class="contact">
      <div class="whatsapp">
        <a href=" https://w.app/XaQgUm " target="_blank">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-brand-whatsapp"
            width="40"
            height="40"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="#ffffff"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9" />
            <path
              d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1"
            />
          </svg>
        </a>
      </div>
      <div class="linkedin">
        <a href="https://acortar.link/ti4zxe" target="_blank">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-brand-linkedin"
            width="40"
            height="40"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="#ffffff"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path
              d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"
            />
            <path d="M8 11l0 5" />
            <path d="M8 8l0 .01" />
            <path d="M12 16l0 -5" />
            <path d="M16 16v-3a2 2 0 0 0 -4 0" />
          </svg></a>
      </div>
      <div class="github">
        <a href="https://github.com/DarioLopez18" target="_blank">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-brand-github"
            width="40"
            height="40"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="#ffffff"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path
              d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"
            />
          </svg></a>
      </div>

    </div>
  </div>

</section>